{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-createjob" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if jstatus %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ jstatus }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-createjob" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="textarea-name">Name</label>
            <div class="col-sm-10">
              <input type="text" required name="name" data-id="input-limit" class="form-control" value="{{ name }}">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="textarea-limit">{{ entry_limit }}</label>
            <div class="col-sm-10">
              <input type="number" required name="limit" data-id="input-limit" class="form-control" value="{{ limit }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" data-id="input-status" class="form-control">
                {% if status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="col-xs-12 jobslist">
          {% for job in jobs %}
          <div class="job-body jobs">
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="textarea-loadjobs_text_field">{{ entry_code }}</label>
              <div class="col-sm-10">
                <input type="text" name="loadjobs_text_field[]" data-id="input-reference" class="form-control" value="{{ job.ref_id }}" />
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="textarea-loadjobs_business_field">{{ entry_business }}</label>
              <div class="col-sm-10">
                <input type="text" name="loadjobs_business_field[]" data-id="input-business" class="form-control" value="{{ job.business }}" />
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="textarea-loadjobs_position_field">{{ entry_position }}</label>
              <div class="col-sm-10">
                <input type="text" name="loadjobs_position_field[]" data-id="input-position" class="form-control" value="{{ job.position }}" />
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="textarea-loadjobs_description_field">{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="loadjobs_description_field[]" data-id="input-description" class="form-control">{{ job.description }}</textarea>
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="textarea-loadjobs_requirements_field">{{ entry_requirements }}</label>
              <div class="col-sm-10">
                <textarea name="loadjobs_requirements_field[]" data-id="input-requirements" class="form-control">{{ job.requirements }}</textarea>
                {% if error_code %}
                  <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>

            <div class="form-group required">
              <label class="col-sm-2 control-label" for="textarea-loadjobs_deadline_field">{{ entry_deadline }}</label>
              <div class="col-sm-10">
                <input type="text" name="loadjobs_deadline_field[]" data-id="input-deadline" class="form-control" value="{{ job.deadline }}" />
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-enabled">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="loadjobs_enabled_field[]" data-id="input-enabled" class="form-control">
                  {% if job.status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            {% if job.job_id %}
              <div class="form-group col-xs-12 remove-job">
                <a href="{{ del_url }}&remove_id={{ job.job_id }}" data-id="removejob" class="col-xs-3 btn btn-danger btn-primary">&nbsp;<i class="fa fa-trash fw"></i>&nbsp;Delete Job</a>
              </div>
              <hr/>
            {% endif %}
          </div>
            {% if job.job_id %}
              <input type="hidden" name="job_id[]" value="{{ job.job_id }}">
            {% endif %}
          {% endfor %}
          </div>
          <hr/>
          <div class="form-group col-xs-12 add-new">
            <span id="newjob" class="newjob-here col-xs-6 btn btn-primary"><i class="fa fa-plus fw"></i> Add Job</span>
          </div>
          <div class="form-group col-xs-12">
              <input type="submit" name="savejobs" value="Save Now" class="btn btn-primary" />
          </div>
        </form> 
      </div>
  </div>
  </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  $( "input[data-id='input-deadline']" ).datepicker();
  document.getElementById("newjob").addEventListener('click',function(e){   
    var jobs = document.getElementsByClassName('job-body');
    var i = jobs.length - 1;
    var newrecord = jobs[i];
    var newjob = newrecord.cloneNode(true);
    document.getElementsByClassName('jobslist')[0].appendChild(newjob);
    e.preventDefault();
  });
</script>

{{ footer }}